{% extends 'base.html.twig' %}

{% block title %}Bienvenu sur Magazine DEV{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

    Bienvenue sur Magazine DEV
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/appli/symfony/magazine-dev/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/appli/symfony/magazine-dev/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
